<h1>Welcome To Uni-Topia!</h1>

Join  our mailing list!
<%= form_for Subscriber.new do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <br>
  <%= form.submit %>
<% end %>
